<script setup lang="ts">
import { useStoreStore } from '@/stores/store';
import { onMounted } from 'vue';
import StoreDialog from './StoreDialog.vue'

const stStore = useStoreStore();
onMounted(async () => {
  await stStore.getStores();
})
</script>

<template>
  <StoreDialog></StoreDialog>
  <v-layout>
    <v-container>
      <v-card height="100" color="#120a04">
        <v-row style="padding-top: 25px; padding-right: 40px; padding-left: 40px;">
          <v-icon icon="mdi-store" size="40px" color="white" style="padding-top: 5px;"></v-icon>
          <h1 style="color: white; font-size: 32px; padding-left: 5px;">จัดการสาขาร้านค้า</h1>

          <v-divider class="border-opacity-100" style="color: white;"></v-divider>
        </v-row>
      </v-card>
      <v-row>
        <v-container>
          <v-row>
            <v-col cols="7"></v-col>
            <v-col cols="4">
              <v-text-field label="search" placeholder="กรอกชื่อสาขาเพื่อค้นหา" prepend-inner-icon="mdi-magnify"
                v-model="stStore.search" class="text-color mt-3"></v-text-field>
            </v-col>
            <v-col>
              <v-btn color="brown" rounded="lg" icon="mdi-store-plus" class="mt-6"
                @click.stop="stStore.dialog = !stStore.dialog">
              </v-btn>
            </v-col>

          </v-row>

          <v-card height="100vh" width="100%" color="#dedad7" rounded="lg">
            <v-container>
              <v-row>
                <v-col cols="4" v-for="item of stStore.showStore" :key="item.id">
                  <v-card rounded="lg">
                    <v-card-item>
                      <v-card-title>
                        {{ item.name }}
                      </v-card-title>

                      <v-divider></v-divider>
                      <v-card-subtitle>
                        tel: {{ item.tel }}
                      </v-card-subtitle>
                    </v-card-item>

                    <v-card-text>
                      {{ item.address }}
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="#546685" variant="text" @click="stStore.editStore(item)">
                        <v-icon icon="mdi-pencil"></v-icon>
                      </v-btn>
                      <v-btn color="#853131" variant="text" @click="stStore.deleteStore(item.id!)">
                        <v-icon icon="mdi-delete"></v-icon>
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-container>
      </v-row>
    </v-container>
  </v-layout>
</template>

<style scoped>
.text-color {
  color: white !important;
}
</style>