<script setup lang="ts">
import { useStoreStore } from '@/stores/store';
import { ref } from 'vue';
import type { VForm } from 'vuetify/components';

const stStore = useStoreStore()
const form = ref<VForm | null>(null);
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await stStore.saveStore();
  }
}
</script>

<template>
  <v-dialog v-model="stStore.dialog" persistent max-width="500" max-height="700">
    <v-card>
      <v-card-title>
        <span class="text-h5">Store</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-text-field label="Name*" required v-model="stStore.editedStore.name" :rules="[
                (v) => !!v || 'Item is required',
                (v) => v.length >= 3 || 'Lenght must more than 3',
              ]"></v-text-field>
            </v-row>
            <v-row>
              <v-text-field label="Address*" required v-model="stStore.editedStore.address" :rules="[
                (v) => !!v || 'Item is required',
                (v) => v.length >= 3 || 'Lenght must more than 3',
              ]"></v-text-field>
            </v-row>
            <v-row>
              <v-text-field label="Tel*" required v-model="stStore.editedStore.tel" :rules="[
                (v) => !!v || 'Item is required',
                (v) => v.length <= 10 || 'Lenght cant must more than 10',
                (v) => v.length == 10 || 'Lenght is 10',
              ]"></v-text-field>
            </v-row>
          </v-container>
        </v-form>

        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue-darken-1" variant="text" @click="stStore.dialog = false">
          Close
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save()">
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>