<script setup lang="ts">

</script>

<template>
  <v-app-bar color="#1A0D00">
    <v-img src="https://cdn.discordapp.com/attachments/746351727867068437/1061712209782251630/image-removebg-preview.png"
      max-height="60" max-width="60"></v-img>
    <v-list-item>
      <v-list-item-title class="title-color">D-Coffee</v-list-item-title>
      <v-list-item-subtitle class="subtitle-color">The best cafe in bangsaen</v-list-item-subtitle>
    </v-list-item>

    <template v-slot:append>
      <v-menu :close-on-back="false">
        <template v-slot:activator="{ props }">
          <v-btn v-bind="props" icon="mdi-account-circle" color="white" variant="flat"></v-btn>
        </template>

        <v-card min-width="250">
          <v-list>
            <v-list-item prepend-avatar="https://randomuser.me/api/portraits/women/85.jpg">
              <v-list-item-title>email@email.com</v-list-item-title>
              <v-list-item-subtitle>username</v-list-item-subtitle>
            </v-list-item>
          </v-list>

          <v-divider></v-divider>

          <v-list>
            <v-list-item prepend-icon="mdi-account-edit" title="Edit account" value="editUser" to="/user"
              v-ripple></v-list-item>
            <v-list-item prepend-icon="mdi-store" title="Store info" value="store" to="/store"></v-list-item>
            <v-list-item prepend-icon="mdi-exit-to-app" title="Logout" value="logout" to="/login"></v-list-item>
          </v-list>

        </v-card>
      </v-menu>
    </template>
  </v-app-bar>
</template>

<style scoped>
.title-color {
  color: white;
  font-family: Garamond;
  font-weight: bold;
  font-size: 28px;
}

.subtitle-color {
  color: white;
  font-family: Garamond;
  font-weight: bold;
  font-size: 12px;
}

.elementFix {
  border-radius: 60px 60px 60px 60px;


}
</style>