<script setup lang="ts">
import { useProductStore } from '@/stores/product';
import { ref } from 'vue';
import { VForm } from 'vuetify/components';

const productStore = useProductStore();
const form = ref<VForm | null>(null);
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await productStore.saveProducts();
  }
}
</script>

<template>
  <!-- <v-navigation-drawer rail permanent v-model="productStore.nav" rail-width="400" location="end">
    <v-container>
      <v-form ref="form">
        <v-container>
          <v-row>
            <v-text-field label="Name*" required v-model="productStore.editedProduct.name"></v-text-field>
          </v-row>
          <v-row>
            <v-text-field label="Price*" required v-model.number="productStore.editedProduct.price"></v-text-field>
          </v-row>
          <v-row>
            <v-text-field label="Amount*" required v-model.number="productStore.editedProduct.amount"></v-text-field>
          </v-row>
          <v-row>
            <v-select label="Size" :items="['-', 'S', 'M', 'L']" density="compact" clearable
              v-model="productStore.editedProduct.size"></v-select>
          </v-row>
          <v-row>
            <v-select label="Type" :items="['-', 'Hot', 'Cold']" density="compact" clearable
              v-model="productStore.editedProduct.type"></v-select>
              </v-row>
              <v-row>
                <v-select label="Category" :items="['Drink', 'Dessert', 'Food']" density="compact" clearable required
                    v-model="productStore.editedProduct.categoryId"></v-select>
                </v-row>
                                                                              </v-container>
                                                                          </v-form>

                                                                          <small>*indicates required field</small>
                                                                          <v-card-actions>
                                                                            <v-spacer></v-spacer>
                                                                            <v-btn color="blue-darken-1" variant="text" @click="productStore.nav = false">
                                                                              Close
                                                                            </v-btn>
                                                                            <v-btn color="blue-darken-1" variant="text" @click="save()">
                                                                              Save
                                                                            </v-btn>
                                                                          </v-card-actions>
                                                                        </v-container>
                                                                      </v-navigation-drawer> -->
  <v-dialog v-model="productStore.nav" persistent max-width="500" max-height="700">
    <v-card>
      <v-card-title>
        <span class="text-h5">Product</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-text-field label="Name*" required v-model="productStore.editedProduct.name" :rules="[
                (v) => !!v || 'Item is required',
                (v) => v.length >= 3 || 'Lenght must more than',
              ]"></v-text-field>
            </v-row>
            <v-row>
              <v-text-field label="Price*" required v-model.number="productStore.editedProduct.price" :rules="[
                (v) => !!v || 'Item is required',
              ]"></v-text-field>
            </v-row>
            <v-row>
              <v-select label="Size" :items="['ธรรมดา', 'พิเศษ', 'S', 'M', 'L']" density="compact" clearable
                v-model="productStore.editedProduct.size"></v-select>
            </v-row>
            <v-row>
              <v-select label="Type" :items="['ประเภทอาหาร', 'ประเภทขนมและเค้ก', 'Hot', 'Cold', 'Freppe']"
                density="compact" clearable v-model="productStore.editedProduct.type"></v-select>
            </v-row>
            <v-row>
              <v-select label="Category" :items="['เครื่องดื่ม', 'ขนม & เค้ก', 'อาหาร']" density="compact" clearable
                v-model="productStore.editedProduct.category"></v-select>
            </v-row>
            <v-row>
              <v-file-input accept="image/*" label="Image input" v-model="productStore.editedProduct.files"
                v-if="!productStore.editedProduct.id ? true : false"></v-file-input>
            </v-row>
          </v-container>
        </v-form>

        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue-darken-1" variant="text" @click="productStore.nav = false">
          Close
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save()">
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>