<script setup lang="ts">
import { useProductStore } from '@/stores/product';
import { useuploadImgStore } from '@/stores/uploadImg';
import { onMounted } from 'vue';
import UploadImgDialog from '../UploadImgDialog.vue';
import ProductDialog from './ProductDialog.vue';

const productStore = useProductStore();
const uploadImg = useuploadImgStore();
const backendURL = import.meta.env.VITE_BACKEND_URL;
onMounted(async () => {
  await productStore.getProducts();
});
</script>

<template>
  <ProductDialog></ProductDialog>
  <v-layout>
    <v-container>
      <v-card height="100" color="#120a04">
        <v-row style="padding-top: 25px; padding-right: 40px; padding-left: 40px;">
          <v-icon icon="mdi-coffee" size="40px" color="white" style="padding-top: 5px;"></v-icon>
          <h1 style="color: white; font-size: 32px; padding-left: 5px;">จัดการคลังสินค้า</h1>

          <v-divider class="border-opacity-100" style="color: white;"></v-divider>
        </v-row>
      </v-card>
      <UploadImgDialog></UploadImgDialog>
      <v-row>
        <v-container>
          <v-row>
            <v-col cols="7"></v-col>
            <v-col cols="4">
              <v-text-field label="search" placeholder="กรอกชื่อสินค้าเพื่อค้นหา" prepend-inner-icon="mdi-magnify"
                v-model="productStore.search" class="text-color mt-3"></v-text-field>
            </v-col>
            <v-col>
              <v-btn color="brown" rounded="lg" class="mt-6" @click.stop="productStore.nav = !productStore.nav">
                <v-icon icon="mdi-plus-circle" class="mr-1"></v-icon>
                <v-icon icon="mdi-coffee"></v-icon>
              </v-btn>
            </v-col>
          </v-row>

          <v-card width="100%" color="#dedad7" rounded="lg" style="overflow: auto;">
            <v-container>
              <v-row>
                <v-col cols="3" v-for="item of productStore.showProduct" :key="item.id">
                  <v-card rounded="lg">
                    <v-card-item>
                      <v-card-title>
                        {{ item.name }}
                      </v-card-title>
                      <v-hover v-slot="{ isHovering, props }">
                        <v-img :src="`${backendURL}/products/image/${item.image}`" height="150px" v-bind="props">
                          <v-expand-transition>
                            <v-btn variant="tonal" v-if="isHovering" style="height: 100%; width: 100%; opacity: 50%;"
                              class="transition-fast-in-fast-out bg-white"
                              @click="uploadImg.EditImg(item.id!, 'Product')">
                              <v-icon icon="mdi-image-edit-outline"></v-icon>
                            </v-btn>
                          </v-expand-transition>
                        </v-img>
                      </v-hover>

                      <v-divider></v-divider>
                      <v-card-subtitle>
                        {{ item.category }}
                      </v-card-subtitle>
                      <v-card-subtitle>
                        {{ item.type }}, {{ item.size }}
                      </v-card-subtitle>
                    </v-card-item>

                    <v-card-text>
                      {{ item.price }} Baht
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="#546685" variant="text" @click="productStore.editProduct(item)">
                        <v-icon icon="mdi-pencil"></v-icon>
                      </v-btn>
                      <v-btn color="#853131" variant="text" @click="productStore.deleteProduct(item.id!)">
                        <v-icon icon="mdi-delete"></v-icon>
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-container>
      </v-row>
    </v-container>
  </v-layout>
</template>

<style scoped>
.text-color {
  color: white !important;
}
</style>