<script setup lang="ts">
import OrderNav from './OrderNav.vue';
import ProductCard from './ProductCard.vue';

</script>

<template>
  <OrderNav></OrderNav>
  <v-container>
    <v-col>
      <ProductCard></ProductCard>
    </v-col>
  </v-container>
</template>