<script setup lang="ts">
import { useProductStore } from '@/stores/product';
import { onMounted, ref } from 'vue';
const productStore = useProductStore();
onMounted(async () => {
  await productStore.getProducts();
})
const backendURL = import.meta.env.VITE_BACKEND_URL;

const tab = ref("");
</script>

<template>
  <v-card height="85vh" width="100%" color="#dedad7" rounded="lg" style="overflow: auto;">
    <v-tabs v-model="tab" bg-color="#120a04" class="text-color" fixed-tabs>
      <v-tab @click="productStore.values = 'เครื่องดื่ม'" :value="productStore.values">เครื่องดื่ม</v-tab>
      <v-tab @click="productStore.values = 'ขนม & เค้ก'" :value="productStore.values">ขนม & เค้ก</v-tab>
      <v-tab @click="productStore.values = 'อาหาร'" :value="productStore.values">อาหาร</v-tab>
    </v-tabs>

    <v-window v-model="tab">
      <v-window-item value="เครื่องดื่ม">
        <v-container>
          <v-row>
            <v-col cols="4" v-for="item of productStore.showProductByCategory" :key="item.id">
              <v-hover v-slot="{ isHovering, props }">
                <v-card rounded="lg" v-bind="props" :elevation="isHovering ? 7 : 1" :class="{ 'on-hover': isHovering }"
                  v-ripple.center>
                  <v-card-item>
                    <v-card-title>
                      {{ item.name }}
                    </v-card-title>
                    <v-img :src="`${backendURL}/products/image/${item.image}`" height="150px"></v-img>

                    <v-divider></v-divider>
                    <v-card-subtitle>
                      {{ item.category }}
                    </v-card-subtitle>
                    <v-card-subtitle>
                      {{ item.type }}, {{ item.size }}
                    </v-card-subtitle>
                  </v-card-item>

                  <v-card-text>
                    <v-row>
                      <v-col cols="8"></v-col>
                      <v-col>
                        <span>
                          {{ item.price }} Baht
                        </span>
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-card>
              </v-hover>

            </v-col>
          </v-row>
        </v-container>
      </v-window-item>
      <v-window-item value="ขนม & เค้ก">
        <v-container>
          <v-row>
            <v-col cols="4" v-for="item of productStore.showProductByCategory" :key="item.id">
              <v-hover v-slot="{ isHovering, props }">
                <v-card rounded="lg" v-bind="props" :elevation="isHovering ? 7 : 1" :class="{ 'on-hover': isHovering }"
                  v-ripple.center>
                  <v-card-item>
                    <v-card-title>
                      {{ item.name }}
                    </v-card-title>
                    <v-img :src="`${backendURL}/products/image/${item.image}`" height="150px"></v-img>

                    <v-divider></v-divider>
                    <v-card-subtitle>
                      {{ item.category }}
                    </v-card-subtitle>
                    <v-card-subtitle>
                      {{ item.type }}, {{ item.size }}
                    </v-card-subtitle>
                  </v-card-item>

                  <v-card-text>
                    <v-row>
                      <v-col cols="8"></v-col>
                      <v-col>
                        <span>
                          {{ item.price }} Baht
                        </span>
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-card>
              </v-hover>

            </v-col>
          </v-row>
        </v-container>
      </v-window-item>
      <v-window-item value="อาหาร">
        <v-container>
          <v-row>
            <v-col cols="4" v-for="item of productStore.showProductByCategory" :key="item.id">
              <v-hover v-slot="{ isHovering, props }">
                <v-card rounded="lg" v-bind="props" :elevation="isHovering ? 7 : 1" :class="{ 'on-hover': isHovering }"
                  v-ripple.center>
                  <v-card-item>
                    <v-card-title>
                      {{ item.name }}
                    </v-card-title>
                    <v-img :src="`${backendURL}/products/image/${item.image}`" height="150px"></v-img>

                    <v-divider></v-divider>
                    <v-card-subtitle>
                      {{ item.category }}
                    </v-card-subtitle>
                    <v-card-subtitle>
                      {{ item.type }}, {{ item.size }}
                    </v-card-subtitle>
                  </v-card-item>

                  <v-card-text>
                    <v-row>
                      <v-col cols="8"></v-col>
                      <v-col>
                        <span>
                          {{ item.price }} Baht
                        </span>
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-card>
              </v-hover>

            </v-col>
          </v-row>
        </v-container>
      </v-window-item>
    </v-window>
  </v-card>
</template>

<style scoped>
.text-color {
  color: white !important;
}
</style>