<script setup lang="ts">
import { useEmployeeStore } from '@/stores/employee';
import { onMounted } from 'vue';
import EmployeeDialog from './EmployeeDialog.vue';

const employeeStore = useEmployeeStore();
onMounted(async () => {
  await employeeStore.getEmployees();
})
</script>

<template>
  <EmployeeDialog></EmployeeDialog>
  <v-layout>
    <v-container>
      <v-card height="100" color="#120a04">
        <v-row style="padding-top: 25px; padding-right: 40px; padding-left: 40px;">
          <v-icon icon="mdi-account-multiple" size="40px" color="white" style="padding-top: 5px;"></v-icon>
          <h1 style="color: white; font-size: 32px; padding-left: 5px;">จัดการพนักงาน</h1>
          <v-divider class="border-opacity-100" style="color: white;"></v-divider>
        </v-row>
      </v-card>

      <v-row>
        <v-container>
          <v-row>
            <v-col cols="7"></v-col>
            <v-col cols="4">
              <v-text-field label="search" placeholder="กรอกเบอร์โทรเพื่อค้นหา" prepend-inner-icon="mdi-magnify"
                v-model="employeeStore.search" class="text-color mt-3"></v-text-field>
            </v-col>
            <v-col>
              <v-btn color="brown" rounded="lg" class="mt-6" @click.stop="employeeStore.dialog = !employeeStore.dialog">
                <v-icon icon="mdi-plus-circle" class="mr-1"></v-icon>
                <v-icon icon="mdi-account-multiple"></v-icon>
              </v-btn>
            </v-col>
          </v-row>

          <v-card height="100vh" width="100%" color="#dedad7" rounded="lg">
            <v-container>
              <v-table style="border-radius: 15px;">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Tel</th>
                    <th>Email</th>
                    <th>Position</th>
                    <th>Hourly wage</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="item of employeeStore.showEmployee" :key="item.id">
                    <td>{{ item.name }}</td>
                    <td>{{ item.tel }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.position }}</td>
                    <td>{{ item.hourly_wage }}</td>
                    <td>
                      <v-btn color="#01579B" class="mr-5" variant="tonal" @click="employeeStore.editEmployee(item)"
                        prepend-icon="mdi-pencil">Edit</v-btn>
                      <v-btn color="#C62828" variant="tonal" @click="employeeStore.deleteEmployee(item.id!)"
                        prepend-icon="mdi-delete">Delete</v-btn>
                    </td>
                  </tr>
                </tbody>
              </v-table>
            </v-container>
          </v-card>
        </v-container>
      </v-row>

    </v-container>
  </v-layout>
</template>

<style scoped>
.text-color {
  color: white !important;
}
</style>