<script setup lang="ts">
import { useEmployeeStore } from '@/stores/employee';
import { ref } from 'vue';
import { VForm } from 'vuetify/components';

const employeeStore = useEmployeeStore();
const form = ref<VForm | null>(null);
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await employeeStore.saveEmployees();
  }
}
</script>

<template>
  <v-dialog v-model="employeeStore.dialog" persistent max-width="500" max-height="700">
    <v-card>
      <v-card-title>
        <span class="text-h5">Employee</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-text-field label="Name*" required v-model="employeeStore.editedEmployee.name" :rules="[
                (v) => !!v || 'Item is required',
                (v) => v.length >= 3 || 'Lenght must more than',
              ]"></v-text-field>
            </v-row>
            <v-row>
              <v-text-field label="Tel*" required v-model="employeeStore.editedEmployee.tel" :rules="[
                (v) => !!v || 'Item is required',
              ]"></v-text-field>
            </v-row>
            <v-row>
              <v-text-field label="Email*" required v-model="employeeStore.editedEmployee.email" :rules="[
                (v) => !!v || 'Item is required',
              ]"></v-text-field>
            </v-row>
            <v-row>
              <v-select label="Position" :items="['Manager', 'Employee']" required
                v-model="employeeStore.editedEmployee.position"></v-select>
            </v-row>
            <v-row>
              <v-text-field label="Hourly wage" required v-model.number="employeeStore.editedEmployee.hourly_wage" :rules="[
                (v) => !!v || 'Item is required',
              ]"></v-text-field>
            </v-row>
          </v-container>
        </v-form>

        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue-darken-1" variant="text" @click="employeeStore.dialog = false">
          Close
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save()">
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>