<script setup lang="ts">
import FullLayout from './Layouts/FullLayout.vue';
import MainLayout from './Layouts/MainLayout.vue';
</script>

<template>
  <component :is="$route.meta.layout === 'MainLayout' ? MainLayout : FullLayout"></component>
</template>

