<script setup lang="ts">
</script>

<template>
  <v-layout>
    <RouterView name="header"></RouterView>
    <RouterView name="menu"></RouterView>
    <v-main class="bg-img">
      <RouterView></RouterView>
    </v-main>
  </v-layout>
</template>

<style scoped>
.bg-img {
  background: url(https://cdn.discordapp.com/attachments/896296119095660576/1080722760050954341/coffeeBG.jpg.webp);
  background-size: cover;
  height: 100%;
  width: 100vw;
}
</style>